# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Packaging / build
*.egg-info/
build/
dist/

# Testing
.pytest_cache/
.hypothesis/

# Coverage
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/

# Temporary not tracking those files yet
nn/
optimizer.py

*.svg
